[Desktop Entry]
Name=Zen Browser
Comment=Browse the Web
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=zen-browser %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=zen-browser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=zen
